{% extends 'base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{{ article.title }}</h1>
    
    <div class="alert alert-info">
        <h3>{{ article.text }}</h3><br><hr>
        <h5><b>Дата: {{ article.date.date() }}</b></h5>
    <a href="/posts/{{ article.id }}/delete" class="btn btn-danger">Удалить</a>
    <a href="/posts/{{ article.id }}/update" class="btn btn-success">Редактировать</a>
    </div>
    
</div>
{% endblock %}